<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="col-md-5 form-group">
      <label>Heading</label>
      <input 
        type="text" 
        class="form-control" 
        name="heading"
        id="heading"
        ngModel
        placeholder="Your heading..."         
        required> 
    </div>
    <div class="col-md-5 form-group">
      <label>Detail</label>
      <input type="text" 
        name="detail"
        id="detail"
        ngModel
        required
        class="form-control" 
        placeholder="Post detail..."> 
    </div>
    <div class="col-md-5 form-group">
      <label>Image Url</label>
      <input type="text" 
        name="imageUrl"
        id="imageUrl"
        ngModel
        class="form-control" 
        placeholder="Image..."> 
    </div>
    <div class="col-md-5 form-group">
      <label>Type</label>      
      <div class="form-group">
          <select class="form-control" 
            name="type"
            id="type"
            ngModel>
            <option value="tip">Tip</option>
            <option value="event">Event</option>
            <option value="question">Question</option>
            <option value="answer">Answer</option>
            <option value="recommendation">Recommendation</option>
            <option value="post">Post</option>
          </select>
        </div>
    </div>
    <div class="col-md-5 form-group">
        <label>Linked to Profile</label>      
        <div class="form-group">
            <select class="form-control" 
              name="relatedProfile"
              id="relatedProfile"
              ngModel>
              <option value="Rocky 1">Rocky 1</option>
              <option value="Rocky 2">Rocky 2</option>
              <option value="Not Linked">Not Linked</option>
            </select>
          </div>
      </div>

    <div class="col-md-5">
      <button 
      class="btn" 
      style="background-color:burlywood;" 
      type="submit" 
      [disabled]="!f.valid">Share</button>
    </div>
  </form>


