<div class="list-group-item clearfix">
  <form>
    <div class="col-md-5 form-group">
      <label>Heading</label>
      <input type="text" class="form-control" placeholder="Your heading..." aria-label="Recipient's username" aria-describedby="basic-addon2" #heading> 
    </div>
    <div class="col-md-5 form-group">
      <label>Detail</label>
      <input type="text" class="form-control" placeholder="Post detail..." aria-label="Recipient's username" aria-describedby="basic-addon2" #detail> 
    </div>
    <div class="col-md-5 form-group">
      <label>Image Url</label>
      <input type="text" class="form-control" placeholder="Image..." aria-label="Recipient's username" aria-describedby="basic-addon2" #imageUrl> 
    </div>
    <div class="col-md-5 form-group">
      <label>Type</label>
      
      <div class="form-group">
          <select class="form-control" #type>
            <option value="tip">Tip</option>
            <option value="event">Event</option>
            <option value="question">Question</option>
            <option value="answer">Answer</option>
            <option value="recommendation">Recommendation</option>
            <option value="post">Post</option>
          </select>
        </div>
    </div>

    <div class="col-md-5">
      <button class="btn" style="background-color:burlywood;" type="submit" (click)="onNewFeed()">Share</button>
    </div>
  </form>
</div>

<br>