<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="col-sm-1"></div>
  <!-- main col left -->
  <div class="col-sm-2">
    <div class="panel panel-default">
      <div class="panel-thumbnail">
        <img src="https://www.maxpixel.net/static/photo/1x/Sweet-Grass-Nice-Dog-Brown-Bitch-Dogs-Sun-2679538.jpg" class="img-responsive">
      </div>
      <div class="panel-body">
        <p class="lead">Funta community</p>
        <p>45K Followers, 989K Posts</p>
        <span class="glyphicons glyphicons-cat"></span>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-2">
    <div class="well">
      <form class="form">
        <h4>Sign-up</h4>
        <div class="input-group text-center">
          <input class="form-control" placeholder="Enter your email address" type="text">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">OK</button>
          </span>
        </div>
      </form>
    </div>

    <div>
        <img src="https://maps.googleapis.com/maps/api/staticmap?size=278x139&amp;path=color%3A0xEA9556%7Cweight%3A3%7Cfillcolor%3A0xF4D88B88%7Cenc%3Ayk_bH%7E%7ErhVJ%7DA%60B%40%3FhAnB%40%3FPxC%3F%40Xz%40%3FrAQ%3Fu%40%7E%40A%40b%40pF%3F%40yFjJHBtCxA%40%40UpGBAbCz%40A%40gBnOBA%7DCnC%40AlDnAEBa%40%7C%40%3F%3FpArC%40E%7EAOrAhFHHq%60%40%7E%5CPQh%60%40lID%60_%40f%40nk%40h%40V%40ZKj%40m%40%5Ch%40Bp%40_%40ln%40WtzAkgALkgAEsHU%7DDw%40%7DRoIaFeAiPE%7D%40_%60C%3FmC&amp;client=gme-nextdoor&amp;signature=X9rW4-cJYekQKbtNyfc9Z8EXGdM=">
    </div>
  </div>

  <div class="col-sm-1"></div>
</div>
