<div class="row">
  <div class="col-xs-12 com-sm-4">
    <div class="list-group">
      <a
      [routerLink]="['/user/edit', user.userName]">
      <span *ngIf="user.profileImage">
          <img 
            [src]="user.profileImage" 
            alt="{{ user.userName }}" 
            class="img-responsive"
            style="max-height: 50px;"      
          >          
        </span>
        <h4>User Name: {{user.userName}}</h4>
        <h4>Name: {{user.firstName}} {{user.lastName}}</h4>
        <h4>Date Registered: {{user.dateRegistereded | date: 'dd/MM/yyyy'}}</h4>
        <span *ngIf="user.address">
            <h4>Address : {{user.address.line1}} {{user.address.line2}} <br/>
                          {{user.address.city}}  {{user.address.country}} {{user.address.zipCode}}
            </h4>
        </span>
      </a>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-xs-12 com-sm-4">
    <div class="list-group">
      <a 
        [routerLink]="['/profile', profile.profileName]"
        class="list-group-item"
        *ngFor="let profile of user.profiles">
        {{ profile.profileName}} : German Shephard
        <span *ngIf="profile.profileImage">
            <img 
              [src]="profile.profileImage" 
              alt="{{ profile.profileName }}" 
              class="img-responsive"
              style="max-height: 50px;"      
            >          
          </span>
      </a>
    </div>
  </div>
</div>