<form #f="ngForm" (ngSubmit)="onSubmit(f)">    
  <div class="form-group">
    <label for="profileName">Profile Name: </label>
    <input 
      type="text"
      id="profileName" 
      ngModel 
      name="profileName"
      required
      class="form-control"
      >
  </div>
  <div class="form-group">
    <label for="profileType">Type: </label>
    <select 
      id="profileType" 
      [ngModel]="defaultProfileType"
      name="profileType"
      required          
      class="form-control"
      >
      <option 
        *ngFor="let type of profileTypes"
        [value]="type">{{type}}
      </option>
      </select>
  </div>
  <p *ngIf="!f.valid && f.touched">Form is invalid!</p>
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>      
</form>