<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"></div>
      <a href="#" class="navbar-brand">Funta</a>
  </div>
  <div class="navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="">Feed</a></li>
      <li><a href="">Events</a></li>
      <li><a href="">Resources</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" role="button">Post <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="">One</a></li>
            <li><a href="">Two</a></li>
            <li><a href="">Resuorces</a></li>
        </ul>
      </li>
    </ul>
    
    <form class="form-inline navbar-right">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>