.form-inline input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
}

.form-inline button[type=submit] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;    
}